.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    margin: 30px auto;
}
body {
    background: linear-gradient(120deg, #c2e9fb 0%, #f9f9f9 100%);
    font-family: Apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.java{
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    border: 3px solid lightgray;
    width: 25px;
    width: 150px;
    height: 25px;
    margin: 20px auto;
    text-align: center;
}
.downcon{
    flex-flow: column nowrap;
}
a{
    font-family: "Apple Braille";
    text-decoration: none;
    color: black;
}
.beg{
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    border: 3px solid lightgray;
    width: 25px;
    width: 150px;
    height: 25px;
    margin: 20px auto;
    text-align: center;
}
.exit{
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    border: 3px solid lightgray;
    width: 25px;
    width: 150px;
    height: 25px;
    margin: 20px auto;
    text-align: center;
}
.cont{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    scale: 1.1;
    transition: transform 1s
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
    background-color: #1e1e1e;
    color: white;
}

.flip-card-front {
    background: linear-gradient(135deg, #7EF9FF, #FFA9F9, #CBA1FF);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flip-card-back {
    transform: rotateY(180deg);
    background: linear-gradient(135deg, #8e2de2, #4a00e0);
}