<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Experience – Pusheen Dev</title>
  <link rel="stylesheet" href="../static/exp.css" />
</head>
<body>
  <div class="bg-image"></div>

    <div class="topnav">
    <a href="home.html">About me</a>
    <a href="serv.html">Services I Offer</a>
    <a href="exp.html">Experience</a>
  </div>

  <div class="main">
    <div class="box">
      <div class="image">
        <img src="../assets/ihateyou.png" alt="Pusheen Dev Icon" class="icon" />
      </div>
<h2>My Expierence.</h2>
        <p>☁️Deployment to AWS i deployed django based web applications on EC2 with Postgres Database set up Nginx Gunicorn as Certbot too. Wrote bashscripts for auto deploy ☁️</p>
        <p>🐍Professional django backend comfortable w doing REST api writing complex systems payment systems🐍 </p>
        <p>😼HTML CSS PYTHON JAVASCRIPT are languages im best at and most comfortable at😼 </p>
        <p>🖥️Sendgrid OVH, AWS, NEONDB, SQLLITE, POSTGRESQL, GITHUB, GIT, TERMINAL all im very good with🖥️</p>
        <p>🧑‍💻What i built so far: Working Pure API web applications, Payment systems, Data fetching, Relational databases, Secure django applications🧑‍💻</p>
        <p>💻Not scared to sit long in debugging I was debugging a Api Endpoint for 3h to only realise it had @ratelimit making it a definitely not a class.💀</p>
    </div>
  </div>
</body>
</html>