<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>AboutMe</title>
  <link rel="stylesheet" href="../static/css.css" />
</head>
<body>
<div class="writ">
    <span>Written by Solara.</span>

  <div class="bg-image"></div>
  <div class="main">
    <div class="box">
      <div class="image">
            <a id="clock"></a>
        <img src="../assets/0708ea36bae30ca3e77ffa1140d60349.jpg" alt="mein logo" />
      </div>
      <div class="Aboutme">
        <span>Django</span>
        <span>DevOps</span>
        <span>Software Engineer</span>
        <span>Rest API</span>
        <p id="dev-text">Professional backend Django Developer, Fullstack Developer</p>
          <button id="change_text">Check random fact about me!!</button>
          <button onclick="window.location.href='index.html'">Start Intro</button>
        <a href="https://github.com/solaraengineer">
          <img class="icon" alt="github" src="../assets/github.png" />
        </a>
      </div>
    </div>
  </div>

  <div class="topnav">
    <a href="home.html">About me</a>
    <a href="port.html">Portfolio</a>
    <a href="serv.html">Services I Offer</a>
    <a href="exp.html">Experience</a>
  </div>
<script src="../SYBAU.js"></script>
</body>
</html>