<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Intro Lyrics</title>
  <style>
    body {
      background: black;
      color: white;
      font-family: monospace;
      font-size: 30px;
      text-align: center;
      padding-top: 20vh;
    }
    #lyrics{
         font-family: "Apple Braille";
          background: linear-gradient(90deg, #ff5af1, #9b5eff, #5edcff, #4cff9e, #ffde59);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         font-weight: 700;
         font-size: 28px;
         text-align: center;
    }
  </style>
</head>
<body>
  <div id="lyrics"></div>

  <script>
    const messages = [
  "Welcome to my portfolio 👋",
  "I’m SolaraEngineer passionate about development ⚙️",
  "Building modern, secure web applications 💡",
  "Backend logic meets clean frontend design 🧠",
  "Always improving, always creating 🚀"
];

    const display = document.getElementById("lyrics");

    let index = 0;

    function showNextLine() {
      if (index < messages.length) {
        display.innerText = messages[index];
        index++;
        setTimeout(showNextLine, 1500);
      } else {
        window.location.href = "home.html";
      }
    }
    showNextLine();
  </script>
</body>
</html>