<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doc</title>
    <link rel="stylesheet" href="../static/picking.css">
</head>
<body>
<div class="selector-card">
    <h2>Choose One</h2>
    <label class="option" id ="django">
        <input type="radio" name="choice">
        <span>Django</span>
    </label>

    <label class="option" id ="javascript">
        <input type="radio" name="choice">
        <span>javascript</span>
    </label>

<script src="../static/js/menu.js"></script>
</body>
</html>